body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #121212; /* Dark gray background */
    color: #e0e0e0; 
}

.container {
    width: 75%;
    margin: auto;
    background-color: #1e1e1e; 
    border-radius: 25px; /* More pronounced rounding */
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5); /* Cyan glow for futuristic vibe */
    padding: 30px;
}

header {
    background: linear-gradient(135deg, #009688, #005858); /* Gradient for header */
    color: white;
    text-align: center;
    padding: 1em 0;
    border-radius: 25px 25px 0 0; /* Rounded top */
}

nav {
    display: flex;
    justify-content: space-around;
    background: #0e0e0e; 
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #e0e0e0; 
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px; /* Fully rounded links */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover effect */
}

nav ul li a:hover {
    background-color: #009688; /* Color change on hover */
    color: #121212; /* Dark color for text on hover */
}

main {
    padding: 30px;
    border-radius: 0 0 25px 25px; /* Rounded bottom */
}

h2 {
    font-size: 2.5em; /* Slightly larger header */
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(135deg, #009688, #005858); /* Same gradient as header for consistency */
    color: white;
    border-radius: 0 0 25px 25px; /* Rounded bottom */
}
